{% extends 'base.html' %}
{% block content %}

<style>
  
  h1 {
      color: #007BFF ;
  }
  .content-container {
      background-color: #FFC0CB; 
      padding: 20px; 
      border: 1px solid 
  }
</style>

<div class="content-container">

<h1>Shopping Product Page</h1>

<p><strong>Apa Itu Shopping Product?</strong></p>
<p>Tempat dimana kamu bisa beli jaket-jaketan!</p>

<nav>
  <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Cart</a></li>
      <li><a href="#">Checkout</a></li>
  </ul>
</nav>

<h5>Name: </h5>
<p>Aulia Rizqi Hidayatunnisa</p> <!-- Ubahlah sesuai dengan nama kamu -->
<h5>Class: </h5>
<p>PBP B</p> <!-- Ubahlah sesuai dengan kelas kamu -->
<h5>Student NPM: </h5>
<p>2206817881</p>

 {% comment %} Hitung jumlah total item di sini (misalnya, dalam variabel total_items) {% endcomment %}
 {% with total_items=products|length %}
 <p>Hore! Kamu punya {{ total_items }} barang untuk di-checkout sekarangg!.</p>
 {% endwith %}

  <table border="2", bordercolor="blue">
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Description</th>
      <th>Date Added</th>
     
    </tr>
  </tr>

  {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

  {% for product in products %}
  <tr>
    <td>{{product.name}}</td>
    <td>{{product.amount}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.date_added}}</td>
</tr>
{% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
<button>
Add New Product
</button>
</a>

{% endblock content %}